<style>
    .show-btn{
        background: black;
        color: white;
        padding: 10px;
        margin-left: 15px;
    }

    .popup-wrapper{
        max-height: 50vh;
        min-width: 50vw;
        padding: 20px   ;
        border: 1px solid black;
        box-shadow: 0px 0px 10px black;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50% , -50%);
        background: white;
        display: none;
        /*overflow-y: auto;*/
    }



    .close{
        position: absolute;
        right: -15px;
        top: -15px;
    }

</style>

{% for article in all_articles %}
<div class="article-row">
    <div class="col number">{{forloop.counter}}</div>
    <div class="col">{{article.content|safe|truncatechars:'20'}}</div>
    <div class="col">{{article.create_at|date:"M d, Y H:i"}}</div>
    <div class="col">{{article.get_status_display}}</div>
    <div class="col">
        <!--<a  href="">Change</a>-->
        <a class="js-delete"
           href="{% url 'client_app:delete_article' pk=article.id %}">
            Delete
        </a>
        <a  class="js-show-content show-btn"
            href="{% url 'client_app:show_article' pk=article.id %}">Show</a>
    </div>
</div>
{% endfor %}



<div class="popup-wrapper">
    <span class="js-close close">X</span>
    <div class="content">

    </div>
</div>