{% extends 'index.html' %}

{% block content %}
<h1>Article by user page!</h1>
<div class="book-wrapper">
    {% for article in all_articles %}
    {% include 'includes/article_item.html' with object=article %}
    {% endfor %}
</div>

{% if messages %}
{% for  msg in messages %}
<script>

    alert('{{msg}}');
</script>
{% endfor %}
<!--<h1>{{messages}}</h1>-->

{% endif %}
{% endblock %}