{% extends 'index.html' %}
{% load poll_extras %}

{% block css %}
<style>
    .old-price {
        background: orangered;
        padding: 5px;
    }

    .new-price {
        background: forestgreen;
        padding: 5px;
    }
</style>
{% endblock %}
{% block content %}
<a href="/">на главную</a>
<h1>Вы смотрите книгу "{{book_instance.title}}"
    {% if count_page %}
    - {{count_page}} стр.
    {% endif %}</h1>

{% if book_instance.image %}
<img style="max-width: 50%" src="{{book_instance.image.url}}" alt="{{book_instance.title}}" title="{{book_instance.title}}">
{% else %}
<h1>Без фото</h1>
{% endif %}
<p>{{book_instance.text}}</p>
<hr>
<p>Цена - {{book_instance.price}} грн</p>
<hr>
<p>Добавлена - {{book_instance.create_at}} </p>
<hr>
<p>Жанр - {{book_instance.get_genre_display}}</p>
<hr>

{% if book_instance.is_sale %}
<p class="old-price">
    Старая цена - <span style="text-decoration:line-through">{{ book_instance.price }} грн</span>
</p>
<p class="new-price">
    Новая цена -{{ book_instance.price|new_price:book_instance.percent_sale }} грн
</p>
{% else %}
<p class="list-group-item ">Цена -{{ book_instance.price }} грн</p>
{% endif %}


{% if book_instance.document %}
<p>
    <a href="{{book_instance.document.url}}" target="_blank">Читать ({{count_page}} стр.)</a>
</p>
{% endif %}

{% endblock %}