{% extends 'index.html' %}

{% block title %}
Главная
{% endblock %}

{% block css %}
<style>



    .book-item.sale:after {
        content: 'Акция';
        display: block;
        position: absolute;
        top: -10px;
        right: 0px;
        background: #ffdf35;
        color: black;
        border-radius: 5px;
        padding: 10px;
    }
</style>
{% endblock %}

{% block content %}
{% if q %}
Все что смогли найти по жанру "{{q}}"
{% endif %}
<!--<p>{{'LSTRGHSGjh hgashdghasgd '|lower}}</p>-->

<h1>Список книг({{all_books|length}})</h1>
<span>Поиск по жанру</span>
<form action="{% url  'search' %}" method="get">
    <select name="query" id="">
        <option value="-1">Все категории</option>
        {% for elem in select %}
        <option value="{{elem.0}}">{{elem.1}}</option>
        {% endfor %}
    </select>
    <button type="submit">Найти</button>
</form>
<br>
<hr>
<div class="book-wrapper">
    {% for book in all_books %}
    <div class="card book-item {% if book.is_sale %} sale {% endif %}" style="width: 18rem;">

         {% if book.image %}
        <img class="card-img-top" src="{{book.image.url}}" alt="Card image cap">
         {% endif %}
        <div class="card-body">
            <h5 class="card-title">{{book.title}}</h5>
            <p class="card-text">{{book.text|truncatechars:'77'}}</p>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">{{book.price}} грн</li>
            <li class="list-group-item">{{book.create_at}}</li>
        </ul>
        <div class="card-body">
            <a href="{% url 'info-book' pk=book.id %}" class="card-link">Card link</a>
        </div>
    </div>
    {% endfor %}
</div>

{{x}}
{% endblock %}

{% block form%}

{% endblock %}