{% extends 'index.html' %}

{% block content %}
    <h1>To do list!!!</h1>
    <ol>
        <li>Сделать вывод всех книг</li>
        <li>Сделать книги по акции</li>
        <li>Сделать локализацию </li>
        <li>Сделать отправку писем в телеграмм , почту </li>
        <li>Сделать водный знак</li>
        <li>django rest framework</li>
        <li>динамические ссылки</li>
        <li>slug ссылки</li>
        <li>meta class</li>
        <li>slot class</li>
    </ol>
{% endblock %}
d

git clone https://gitlab.com/antonmazun/test_itea_django.git

python -m venv env

cd env/Scripts
activate

pip install -r req.txt

python manage.py makemigrations
python manage.py migrate

python manage.py createsupeuser

