{% extends 'index.html' %}

{% block css %}
<style>
    .cabinet-content {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .left-col {
        width: 20%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .right-col {
        width: 75%;
        max-width: 100%;
    }

    .cabinet-link {
        padding: 12px;
    }

    .alert-success {
        padding: 12px;
        background: #3aff93;
        font-size: 16px;
    }
</style>
{% endblock %}
{% block content %}
<h1>Hello {{request.user.first_name}} {{request.user.last_name}} !</h1>

<div class="cabinet-content">
    <div class="left-col">
        <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
            <a class="nav-link {% if cabinet_tab == 'main' %} active {% endif %}" href="{% url 'client_app:cabinet' %}">Мой
                профиль</a>
            <a class="nav-link {% if cabinet_tab == 'write_post' %} active {% endif %}"
               href="{% url 'client_app:write_post' %}">Написать статью</a>
            <a class="nav-link {% if cabinet_tab == 'my_articles' %} active {% endif %}"
               href="{% url 'client_app:my_articles' %}">Мои статьи</a>
            <a class="nav-link">Подписчики</a>
            <form action="{% url 'client_app:change_color' %}" method="post">
                {% csrf_token %}
                <input name="color" type="color">
                <!--<input type="range" min="0" max="500" step="50">-->
                <!--<input type="file">-->
                <button>Сменить цвет</button>
            </form>
        </div>
    </div>
    <div class="right-col">
        {% if save %}
        <p class="alert-success">Успешно сохранили данные!</p>
        {% endif %}
        <div class="content-wrap">
            {% block right_col %}
            <form action="{% url 'client_app:cabinet' %}" method="post">
                {% csrf_token %}
                {% for field in form %}
                <div class="form-group">
                    {{field.label}}
                    {{field}}
                </div>
                {% endfor %}
                <button id="confirm_submit">Save!</button>
            </form>
            {% endblock %}
        </div>
    </div>
</div>


<script>
    window.addEventListener('load', function () {
        var btn = document.getElementById('confirm_submit');
        btn.addEventListener('click', function (e) {
            var response = confirm('Realy???');
            if (response) {
                return true;
            } else {
                e.preventDefault();
                return;
            }
        })
    });

</script>
{% endblock %}