{% extends 'index.html' %}

{% block content %}
<h1>Login!</h1>

<a href="{% url 'client_app:register' %}">Нет аккаунта?</a>
<form action="." method="post">
    {% csrf_token %}
    <!--<div>-->
    <!--<label for="">Login</label>-->
    <!--<input type="text" name="username">-->
    <!--</div>-->
    <div class="form-group">
        <label for="exampleInputEmail1">Email address</label>
        <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="username">
    </div>
    <div class="form-group">
        <label for="exampleInputPassword1">Password</label>
        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" name="password">
    </div>
    <!--<div>-->
    <!--<label for="">Password</label>-->
    <!--<input type="password" name="password">-->
    <!--</div>-->
    <button type="submit" class="btn btn-primary">Submit</button>
    {% if error %}
    <p class="alert alert-danger">{{error}}</p>
    {% endif %}
</form>


<!--<form>-->
    <!--<div class="form-group">-->
    <!--<label for="exampleInputEmail1">Email address</label>-->
    <!--<input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">-->
    <!--<small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>-->
    <!--</div>-->
    <!--<div class="form-group">-->
        <!--<label for="exampleInputPassword1">Password</label>-->
        <!--<input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">-->
    <!--</div>-->
    <!--<div class="form-check">-->
        <!--<input type="checkbox" class="form-check-input" id="exampleCheck1">-->
        <!--<label class="form-check-label" for="exampleCheck1">Check me out</label>-->
    <!--</div>-->
    <!--<button type="submit" class="btn btn-primary">Submit</button>-->
<!--</form>-->
{% endblock %}