{% extends 'client_app/cabinet.html' %}
{% load static %}
{% block right_col %}
<style>
    .article-row {
        display: flex;
        align-items: center;
        border-bottom: 1px solid black;
    }

    .col {
        width: 20%;
        padding: 12px;
    }

    .article-row:nth-child(odd) {
        background: gainsboro;
    }
</style>
<h1>My articles <span class="js-count">{{all_articles|length}}</span>!</h1>

<div class="btn-group">
    <a href="{% url 'client_app:filter_by_status' status='publish'  %}" class="btn btn-success">В публикации </a>
    <a href="{% url 'client_app:filter_by_status' status='unpublish'  %}" class="btn btn-warning">Не в публикации </a>
</div>

<br>
<br>


<div class="article-wrapper">
    <div class="article-row">
        <div class="col">№</div>
        <div class="col">Text</div>
        <div class="col">Create at</div>
        <div class="col">Publish?</div>
        <div class="col">Actions</div>
    </div>
    <div class="js-article-reload">
        {% include 'client_app/ajax/reload_block_articles.html' %}
    </div>
</div>

{% endblock %}


{% block js %}
<script src="{% static 'js/personal_cabinet.js' %}"></script>
{% endblock %}