{% extends 'index.html' %}

{% block content %}

<!--<input type="checkbox">-->
<!--Car<input type="radio" name="test" value="car">-->
<!--Bike<input type="radio" name="test" value="Bike">-->
<!--Metro<input type="radio" name="test" value="Metro">-->
<a href="{% url 'client_app:login' %}">Есть аккаунт?</a>
<form method="post" action="{% url 'client_app:register' %}">
    {% csrf_token %}
    {% for field in form %}
    <p>
        {{ field.label_tag }}<br>
        {{ field }}
        {% if field.help_text %}
        <small style="color: grey">{{ field.help_text }}</small>
        {% endif %}
        {% if field.errors %}
        {% for error in field.errors %}
    <p style="color: red">{{ error }}</p>
    {% endfor %}
    {% endif %}
    </p>
    {% endfor %}
    <label for="">Потверждать почту</label>
    <input type="checkbox" name="check_mail">
    <input type="submit" value="Sign up">
    <input type="reset" value="reset">
    <!--<button>Sign up</button>-->
</form>

{% endblock %}