{% extends 'index.html' %}


{% block content %}
<div class="book-wrapper">
    {% for article in all_articles %}
    {% include 'includes/article_item.html' with object=article del=True %}
    {% empty %}
    <h1>List empty!!!!</h1>
    {% endfor %}


</div>
{% endblock %}