<template>
    <div class="root">
        <h1>Count {{post_array.length}}</h1>
        <div class="post-wrapper">

            <div class="post-item" v-for="(post , index ) in post_array">
                <p>id - {{post.id}}</p>
                <p>title - {{post.title}}</p>
                <p>text - {{post.text}}</p>
                <p>date - {{post.date}}</p>
                <button @click="delete_post(post.id , index)">Delete</button>
                <hr>
            </div>
        </div>
    </div>
</template>

<script>
    import {getCookie} from './cookies';

    export default {
        name: "postComponent",
        data() {
            return {
                post_array: []
            }

        },

        methods: {
            delete_post(article_id, index_arr) {
                let csrf_token = getCookie("csrftoken");
                let url = '/vue-example/api/post/' + article_id;
                let vm = this
                if (confirm('Realy?')) {
                    $.ajax({
                        url: url,
                        method: 'DELETE',
                        headers: {
                            "X-CSRFToken": csrf_token
                        }
                    }).done(function (response) {
                        if (response.status) {
                            vm.post_array.splice(index_arr, 1);
                        }
                        console.log(response);
                    })
                }

                console.log(url);

            }
        },
        beforeMount() {
            let vm = this;
            $.ajax({
                url: '/vue-example/api/get-all-post',
                type: 'GET'
            }).done(function (response) {
                vm.post_array = response;
                console.log(response);
            })
        }
    }
</script>

<style scoped>

</style>