{% extends 'index.html' %}

{% block content %}
<h1>Calc!!!</h1>
<h2>Plugin emmet!</h2>

<form action="." method="post">
    {% csrf_token %}
    <input name="first" type="number">
    <select name="oper" id="">
        {% for oper in operations %}
        <option value="{{oper}}">{{oper}}</option>
        {% endfor %}
    </select>
    <input name="second" type="text">
    <input type="text" {% if res %} value="{{res}} {% endif %}" disabled>
    <button>Посчитать!</button>
</form>

{% if error %}

<p style="color: red; font-size: 28px;">{{error}}</p>

{% endif %}
{% endblock %}