{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css"/>-->
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'client.min.css' %}">
    <script
            src="https://code.jquery.com/jquery-3.4.1.min.js"
            integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
            crossorigin="anonymous"></script>

    {% block css %}
    {% endblock %}

</head>
<body
        {% if request.session.color %}
        style="background: {{request.session.color}}"
        {% endif %}
>

{% include 'includes/header.html' %}
{% get_current_language as LC %}

<div class="content container">
    {% block content %}
    {% endblock %}

</div>

<div class="form-post">
    {% block form %}
    {% endblock %}
</div>


{% include 'includes/footer.html' %}
<style>
    a {
        text-decoration: underline;
    }
</style>


<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>


<!--<div class="js-example">-->
    <!--<label for="name">Name</label>-->
    <!--<input type="text" id="name">-->
    <!--<label for="surname">surname</label>-->
    <!--<input type="password" id="surname">-->
    <!--<button id="btn">get full name</button>-->
    <!--<button id="show_pass">Show password</button>-->
    <!--<h1 id="output"></h1>-->
<!--</div>-->

<script src="{% static 'client.bundle.js' %}"></script>

<script>
    window.addEventListener('load', function () {
        var btn = document.getElementById('btn');
        var show_pass_btn = document.getElementById('show_pass');
        show_pass_btn.addEventListener('click', function () {
            var input =  document.getElementById('surname');
            if(input.type  === 'text'){
                  input.type = 'password';
                  this.innerHTML = 'show password';
                  return;
            }
            input.type = 'text';
            this.innerHTML = 'hide password';
        })
        btn.addEventListener('click', function () {
            var name = document.getElementById('name').value;
            var surname = document.getElementById('surname').value;
            var full_name = name + ' ' + surname;
            // var div  = document.createElement('div');
            // div.classList.add('new-div');
            // div.innerHTML = full_name;

            // document.getElementsByTagName('body').chil
            // window.appendChild(div);
            document.getElementById('output').innerHTML = full_name;
            console.log(name, surname);
        })
        console.log(btn);
    })
    console.log(this);


    // handle_click();

</script>

{% block js %}
<script>
    // var x = 45454545;
    //

    // alert(i);
    // function f(obj) {
    //     // if (obj['key'] != '') {
    //     //     alert(obj['key']);
    //     // }
    //     // console.log(obj['key'])
    //     // console.log(obj['key1'])
    //     // console.log(typeof  a);
    //     // // console.log(a.length);
    //     // console.log(arguments);
    //
    //     // if (b < 3) {
    //     //     alert('b < 3');
    //     // }
    //     // console.log(a, b, c);
    //     // console.warn(a);
    //
    //     // for (i; i < 20; i++) {
    //     //     if (i == 5) {
    //     //
    //     //     }
    //     //     console.log(i);
    //     // }
    // }
    //
    // //
    // f({
    //     'key': 'value',
    //     'key1': 'value1'
    // });
    //
    // console.log(i);
    // alert('test!!!!');
    // var res = confirm('some message!');
    // alert(res);
    // var name  = prompt('Name ');
    // alert(name);
    // document.write('asdasdasd');
    //


</script>


{% endblock %}
</body>
</html>