<div class="card book-item {% if object.is_sale %} sale {% endif %}" style="width: 18rem;">
    {% if book.image %}
    <img class="card-img-top" src="{{object.image.url}}" alt="Card image cap">
    {% endif %}
    <div class="card-body">
        <h5 class="card-title">{{object.title}}</h5>
        <p class="card-text">{{object.content|safe}}</p>
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">@{{object.author.user}}</li>
        <li class="list-group-item">{{object.create_at}}</li>
    </ul>
    <div class="card-body">
        <a href="{% url 'client_app:article-item' pk=object.id %}" class="card-link">Читать</a>
    </div>
    {% if del == True %}
    <a href="{% url 'client_app:wish-list' pk=object.id %}">Delete</a>
    {% else %}
    <form action="{% url 'client_app:set-to-wish-list' %}" >
        <input type="hidden" name="article_id" value = {{object.id}}>
        <button>Отложить на чтение</button>
    </form>
    {% endif %}
</div>