{% load poll_extras %}
{% load i18n %}

<!--<header>-->
    <!--<nav>-->
        <!--<a {% if current_tab == 'main' %} class='active' {% endif %} href="/"></a>-->
        <!--<a {% if current_tab == 'about' %} class='active' {% endif %} href="{% url 'about' %}">О нас</a>-->
        <!--<a href="/best-book/">Лучшие книги</a>-->
        <!--<a href="/sales/">Акции</a>-->
        <!--<a href="{% url 'client_app:cabinet' %}">Мой кабинет</a>-->
        <!--<a href="/article-by-user/">Статьи от пользователей</a>-->
        <!--<a href="/to-do-list-project/">to-do-list-project</a>-->
        <!--<a {% if current_tab == 'calc' %} class='active' {% endif %} href="/calc/">Калькулятор</a>-->

        <!--{% if request.user.is_authenticated %}-->
        <!--<a href="{% url 'client_app:logout' %}">Выход({{request.user.username}})</a>-->
        <!--{% else %}-->
        <!--<a href="{% url 'client_app:login' %}">Войти</a>-->
        <!--<a href="{% url 'client_app:register' %}">Регистрация</a>-->
        <!--{% endif %}-->
    <!--</nav>-->
<!--</header>-->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">LESSONS</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item {% if current_tab == 'main' %} active {% endif %}">
        <a class="nav-link" href="/">Главная <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item {% if current_tab == 'about' %} active {% endif %}">
        <a class="nav-link" href="{% url 'about' %}">{% trans 'О нас' %}</a>
      </li>
        <li class="nav-item">
        <a class="nav-link" href="/best-book/">Лучшие книги</a>
      </li>
        <li class="nav-item">
        <a class="nav-link" href="/article-by-user/">Статьи от пользователей</a>
      </li>
     <li class="nav-item">
        <a class="nav-link" href="{% url 'vue:main' %}">Example vue</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Остальное
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/to-do-list-project/">to-do-list-project</a>
          <a class="dropdown-item" href="/calc/">Калькулятор</a>
          <div class="dropdown-divider"></div>
        </div>
      </li>
    </ul>
    <a href="{% url 'client_app:wish-list' pk=0 %}" class="btn btn-warning">Не забыть почитать ({{request.session.read_article|length}})</a>
      <div class="my-2 my-lg-0">
                  <a class="btn btn-info" href="{% url 'client_app:cabinet' %}">Мой кабинет</a>
            {% if request.user.is_authenticated  %}
         <a class="btn btn-success" href="{% url 'client_app:logout' %}">Выход({{request.user.username}})</a>
           {% else %}
      <a href="{% url 'client_app:login' %}" class="btn btn-success">Вход</a>
          <a href="{% url 'client_app:register' %}" class="btn btn-primary">Регистрация</a>
        {% endif %}
      </div>
  </div>
</nav>
